<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message.username %>'s Message</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('header') %>

    <div>
        <h2 class="message"><%= message.username %></h2>
        <p class="message"><%= message.text %></p>
        <p class="message"><%= message.added %></p>
    </div>
</body>
</html>